@font-face {
    font-family: 'thomas_headlinelight';
    src: url('fonts/thomas_headline-light-webfont.eot');
    src: url('fonts/thomas_headline-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/thomas_headline-light-webfont.woff2') format('woff2'),
         url('fonts/thomas_headline-light-webfont.woff') format('woff'),
         url('fonts/thomas_headline-light-webfont.ttf') format('truetype'),
         url('fonts/thomas_headline-light-webfont.svg#thomas_headlinelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'thomas_headlinebold';
    src: url('fonts/thomas_headline-bold-webfont.eot');
    src: url('fonts/thomas_headline-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/thomas_headline-bold-webfont.woff2') format('woff2'),
         url('fonts/thomas_headline-bold-webfont.woff') format('woff'),
         url('fonts/thomas_headline-bold-webfont.ttf') format('truetype'),
         url('fonts/thomas_headline-bold-webfont.svg#thomas_headlinebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background-color:#b1e0e4;
	height: 637px;
	overflow: hidden;
}
#main-container
{
	width:100%;
	margin:auto;height: 637px;
	overflow: hidden;
}
#main-background
{
	/*background-image:url(images_web/tc-bg.png);*/
	height: 637px;
	overflow: hidden;
	margin:auto;
	background-repeat:no-repeat;
	/*width:1179px;*/
}
#main-background-social
{
	background-image:url(images_web/tc-map-social.png);
	height:777px;
	margin:auto;
	background-repeat:no-repeat;
}

#main-sub-background
{
	margin: 0 0 0 60px;
    position: relative;
    top: 14px;
}

#main-sub-background-log
{
	background-image:url(images_web/background_social.png);
	height:556px;
	margin:82px 0 0 141px;
	background-repeat:no-repeat;
	position:relative;
}
.fl
{
	float:left;
}
a,
a:hover,
a:focus
{
	outline:none !important;
}
.clear
{
  clear:both;	
}
.absolute
{
	position:absolute
}
#button-rally
{
    left: 372px;
    top: 179px;
}
#button-diying
{
	left: 607px;
    top: 273px;
}
#button-culture
{
	left: 354px;
    top: 419px;
}
.set-wit-1
{
	width:4% !important;

}
.set-wit-5
{
	width:36.3% !important;
	padding-left:5px !important;
}
.social-1-a
{
	margin-right:10px;
}
.set-top
{
	padding-top:20px;
}
.social-1-b
{
	margin-left: 12px;
    margin-right: 17px;
}
.social-2-b
{
	margin-left: 21px;
    margin-right: 29px;
}
.button-play:hover
{
	opacity:0.7;
}

