
/*@font-face {
font-family: 'main-font';
src: url('font-1/VNF-Oswald.eot');
src: url('font-1/VNF-Oswald.eot?#iefix') format('embedded-opentype'),
	 url('font-1/VNF-Oswald.woff') format('woff'),
	 url('font-1/VNF-Oswald.ttf') format('truetype'),
	 url('font-1/VNF-Oswald.svg#Sri-TSCRegular') format('svg');
font-weight: normal;
font-style: normal;
}*/
@font-face {
font-family: 'main-font';
src: url('font-2/MyriadPro-Regular.eot');
src: url('font-2/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	 url('font-2/MyriadPro-Regular.woff') format('woff'),
	 url('font-2/MyriadPro-Regular.ttf') format('truetype'),
	 url('font-2/MyriadPro-Regular.svg#Sri-TSCRegular') format('svg');
font-weight: normal;
font-style: normal;
}
.font-main
{
	font-family:main-font;
}
body{
	overflow:hidden;
	height: 637px
}
#main-container
{
	width:100%;
	margin:auto;
}
#main-background
{
	background-image:url(../images/culture_game/bg.jpg);
	height:637px;
	margin:auto;
	background-repeat:no-repeat;
}
#main-background-social
{
	background-image:url(../images/bg.jpg);
	height:637px;
	margin:auto;
	background-repeat:no-repeat;
}
#main-background-social-1
{
	background-image:url(../images/bg_1.jpg);
	height:637px;
	margin:auto;
	background-repeat:no-repeat;
	position:relative;
}
#main-background-social-1.bg-play{
	background-image:none;
	background: #b1e0e4;
}
#main-background-leader-board
{
	background-image:url(../images/bg_2.png);
	height:637px;
	margin:auto;
	background-repeat:no-repeat;
}

#main-sub-background
{
	background-image: url("../images/tc-map_0003_map.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 500px;
    margin: 65px 0 0 102px;
    position: relative;
    width: 720px;
}

#main-sub-background a img{
	width: 93px;
}

#main-sub-background-log-1
{
    background-repeat: no-repeat;
    height:499px;
    margin: 65px 0 0 102px;
    position: relative;
    width: 719px;
}

#the-game{
	width: 100%;
	height:637px;
	/*visibility: hidden;*/
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	
}
#the-game.hide{
	left:1500em;
	display: block!important;
}


.fl
{
	float:left;
}
a,
a:hover,
a:focus
{
	outline:none !important;
}
.clear
{
  clear:both;	
}
.absolute
{
	position:absolute
}
p{margin: 0.5em 0;}

.normal-font{
	font-weight:normal!important;
}

#main-sub-background .absolute img:hover{
	-webkit-transition: all 0.5s linear;
     -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
          transition: all 0.5s linear;
	width: 103px;
}

#button-rally
{
    left: 317px;
    top: 156px;
}
#button-diying
{
	 left: 513px;
    top: 240px;
}
#button-culture
{
	left: 263px;
    top: 348px;
}
.set-wit-1
{
	width:4% !important;

}
.set-wit-5
{
	width:36.3% !important;
	padding-left:5px !important;
}
.social-1-a
{
	margin-right:10px;
}
.set-top
{
	padding-top:20px;
}
.social-1-b
{
	margin-left: 12px;
    margin-right: 17px;
}
.social-2-b
{
	margin-left: 21px;
    margin-right: 29px;
}
.button-play:hover
{
	opacity:0.7;
}
#div_leader_board
{
	display:none;
	width:766px;
	height:520px;
}
#div_leader_board  .nav-tabs > li > a
{
   color: black;
    font-size: 24px;
    letter-spacing: 3.5px;
	background-color:none;
	border:none;
	border-radius:none;
	background-color:transparent;
	line-height:normal;
	margin-right:0px;
	margin-bottom:0px;
} 
#div_leader_board .nav-tabs > li.active > a:hover, 
#div_leader_board .nav-tabs > li.active > a:focus,
#div_leader_board .nav-tabs > li > a:hover
{
	background-color:none;
	border:none;
	border-radius:none;
	background-color:transparent;
	line-height:normal;
	margin-right:0px;
	margin-bottom:0px;
}
#div_leader_board .icon_li
{
	background-image:url(../images/line.jpg);
	background-position:left 10px;
	background-repeat:no-repeat;
	padding:0px 0px;
}
#div_leader_board  .nav-tabs
{
	 background-image: url("../images/line_box.png");
    background-position: center 55px;
    background-repeat: no-repeat;
    border: medium none;
    height: 65px;
}
.tab-detail h2
{
	color: black;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 10px;
}
.div-tab
{
	width:100%;
	margin:auto;
}
#content-scroll-score
{
   width:450px;
   height:320px;
   margin:auto;	
}
.size-font-score
{
	color: black;
    font-size: 25px;
    letter-spacing: 4.5px;
}
.group-cscore
{
	margin-bottom:20px;
	overflow:hidden;
	clear:both;
	display:block;
}
#content-scroll-score
{
	margin-top:40px;
}
#content-scroll-score .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
{
	background-color:#333;
}
#form-register label
{
	font-weight:normal;
	letter-spacing:2.5px;
	font-size:20px;
	color:black;
}
.div-form-register
{
	width:422px;
	margin:auto;
}
#form-register .form-group
{
	margin-top:26px;
}
#form-register .input-resgis
{
	background-color:transparent;
	border:none;
	width:95%;
	box-shadow:none;
	font-family:main-font;
	font-size:20px;
	letter-spacing:2.5px;
	border-radius:0px;
}
.into_left
{
	float:left;
	background-image:url(../images/into_left.png);
	width:7px;
	height:25px;
	margin-top:5px;
}
#tabregister .tab-detail
{
	margin-top:50px;
}
.into_right
{
	float:right;
	background-image:url(../images/into_right.png);
	width:7px;
	height:25px;
	margin-top:5px;
}
#button-register
{
	background-image:url(../images/button_submit.png);
	width:157px;
	height:49px;
	background-repeat:no-repeat;
	border:none;
}
#button-register:hover
{
	background-color:transparent;
	border:none;
	box-shadow:none;
}
.div-errow-regis
{
	position: absolute;
	/*left: 115px;*/
    position: absolute;
    top: 5px;
	color: rgb(168, 17, 17);
	font-size: 19px;
	display:none;
}
.div-errow-regis i
{
	margin-right:5px;
}
.color-sucess
{
	color:rgb(39, 156, 62);
}
.div-set-paddingfor
{
	padding:33px 24px 24px 24px;
}
#option-left
{
	width:424px;	
}
#postcard_b, #how_to_play, #plus_win, #top_ten, #register, #sorry, #well_done, #congratulations {
	height: 330px;
}

.reset-padding-left
{
	padding-left:0px !important;
}
.reset-padding-right
{
	padding-right:0px !important;
}
#option-right
{
	width:230px;
}
.title-h1
{
	color: #c30a08;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 31px;
    margin-top: 0px;
}
.title-h1-win
{
	color: #c30a08;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 46px;
    margin-top: 0;
    margin-bottom:0.2em;
}
#form-register-user .input-setformregis
{
	background-color:transparent;
	border:1px solid #324ca0;
	width:99%;
	box-shadow:none;
	font-family:"main-font";
	font-size:17px;
	border-radius:0px;
}
#form-register-user label
{
	color:#002188;
	font-size:0.85em;
	text-align:left;
}
#form-register-user .form-group
{
	margin-bottom:5px;
}
.col-sm-4.control-label.font-main.reset-padding-right
{
	width:21.91%
}
.btn-submid-resgister
{
	width:90px !important;
	height:33px !important;
	background-color:#c40806 !important;
	color:white !important;
	border:none !important;
	border-radius:0px !important;
	font-family:main-font;
    font-size: 17px !important;
	float:right;
	margin-right: 4px;
}
.text-share
{
	background-color: #999;
    color: white;
    font-family: main-font;
    font-size: 17px;
    height: 27px;
    padding-top: 3px;
    text-align: center;
    width: 100%;
	margin-top:10px;
}
.social-icon-share
{
	display: block;
	float: left;
	margin: 0px;
	border: 1px solid #999;
	width: 100%;
	padding: 6px 0 6px 12px;
}
.social-icon-share img
{
	margin-right:9px;
}

.social-icon-share .last img
{
	margin-right:0px;
}
.bg_enjoy_game
{
	background-image:url(../images/bg_play.jpg);
	width:228px;
	height:266px;
	position:relative;
	background-repeat:no-repeat;
	cursor: pointer;
}
#option-right
{
	margin-left:15px;
}
.border-errow
{
	border:1px solid rgb(189, 14, 14) !important;
}
.relavtive
{
	position:relative;
}
.checkbox_sex
{
	margin-right:10px !important;
}
.text-pone
{
	font-family:main-font;
	font-size:25px;
	font-weight:bold;
	line-height:27px;
	color:#00218a;
}
.text-ptwo
{
	font-size:19px;
	font-family:main-font;
	line-height:27px;
	color:#1035ab;
}
.text-pthree
{
	 color: #00218a;
    font-family: main-font;
    font-size: 25px;
    font-weight: bold;
    line-height: 35px;
}
.set-topforwin
{
	margin-top:63px;
}
.clear
{
	clear:both;
}
.group-userscore
{
	border: 1px solid #021f83;
    color: #021f83;
    display: block;
    height: 27px;
    margin: -1px 0 0px;
}
.group-userscore .order-user,
.group-userscore .username-top
{
	height:100%;
	border-right:1px solid #021f83;
   padding-top:2px;
}
.userscore-top
{
	padding-top:2px;
}
.button-play-game
{
	left: 60px;
    position: absolute;
    top: 85px;
}

.tbl-score{
	color: #021f83;
	font-weight: 700;
	width: 100%;
}
.tbl-score tr td{
	border: solid 1px #021f83;
	text-align: center;
	padding: 2px 0;
}
.tbl-score .stt{
	width: 10%;
}

.tbl-score .name{
	width: 60%;
}

.tbl-score .score{
	width: 30%;
}

.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year{
	color:#000;
}

.red, .red:hover, .red:visited{
	color:#c30907;
}

.text-share, .social-icon-share{visibility:hidden;}

#register .title-h1{
	font-size:2em
}

.container-scuba-game{
	#sorry .title-h1-win,
	#well_done .title-h1-win,
	#congratulations .title-h1-win{
		font-weight: normal;
		font-size:5em;
	}
	#well_done .title-h1-win,
	#congratulations .title-h1-win
	{
		margin-top:0.2em;
	}
	#sorry .text-pone,
	#well_done .text-pone,
	#congratulations .text-pone
	{
		font-weight: normal;
		font-size: 2.8em;
		line-height:1.2em;
	}
	.text-sorry{
		display: inline-block;
	    font-size: 1.32em;
	    line-height: 0.9em;
	    margin-top: 0.2em;
	}
}
