.text-pone {
  line-height: 33px;
  font-size: 22.5px;
}
.title-h1-win {
  line-height: 54px;
}
#main-background-social-1 {
  background-image: url("../images/driving_game/bg.jpg");
}
.bg_enjoy_game {
  background-image: url("../images/driving_game/bg_play.jpg");
}
.button-play-game {
  top: 133px;
}
.text-share {
  background: #c30907;
}
.social-icon-share {
  padding: 10px 0;
  border: 0;
}
.social-icon-share img {
  margin-right: 14px;
}
.text-share,
.social-icon-share {
  visibility: hidden;
}
.title-h1 {
  margin-bottom: 0.4em;
}
#how_to_play .text-pone {
  font-size: 22px;
  line-height: 25px;
}
#how_to_play p {
  margin: 0.3em 0;
}
.text-sorry {
  display: inline-block;
  font-size: 1.62em;
  line-height: 0.9em;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}
#sorry .title-h1-win,
#well_done .title-h1-win,
#congratulations .title-h1-win {
  font-size: 2.6em;
  font-weight: bold;
}
#well_done .title-h1-win,
#congratulations .title-h1-win {
  line-height: 50px;
}
#well_done .title-h1-win,
#congratulations .title-h1-win {
  margin-top: 0.2em;
}
