
<div id="postcard_b" class="class_page">
	<h1 class="title-h1-win font-main">
		PLAY OUR RED SEA RALLY GAME
	</h1>
	<div class="text-ofsite">
		<p class="text-pone">
		Drive your dune buggy from Luxor to Cairo as fast as you can, avoiding camels, fallen trees and rogue mummies along the way. Use the cursor keys to move up, down, left and right. Holding down the up cursor key will make your dune buggy move a bit quicker. <br/>
		For a chance to <a href="http://www.thomascook.com/destinations/egypt/sharm-el-sheikh/um-el-sid/sentido-reef-oasis-senses?utm_source=redseagame&utm_medium=game&utm_campaign=redseastories" target="_blank">WIN a 1-week holiday</a> to the Red Sea and other fantastic prizes play our NEW culture game.
		</p>
	</div>
</div>

<div id="how_to_play" class="class_page" style="display:none">
	<h1 class="title-h1 font-main">HOW TO PLAY</h1>
	<div class="text-ofsite">
		<p class="text-pone">Driving a dune buggy across the desert from Luxor to Cairo isn’t for the faint-hearted. To get yourself on the leaderboard, see if you can negotiate the unforgiving roads as fast as you can, but beware the fallen trees, camels and rogue mummies that stand in your way. </p>
		<p class="text-pone normal-font">Use the space bar to go faster and cursor keys to move up, down, left and right.</p>
		<p class="text-pone normal-font">Good luck!</p>
	</div>
	</div>

<div id="plus_win" class="class_page" style="display:none">
	<h1 class="title-h1-win font-main">PLUS! WIN A £500 THOMAS COOK GIFT VOUCHER!</h1>
	<p class="text-pone">When the game closes, the player at the top of the leader board will WIN a <span class="bold">£500 Thomas Cook gift voucher</span> to get them into <a href="http://www.thomascook.com/destinations/egypt/sharm-el-sheikh/um-el-sid/sentido-reef-oasis-senses?utm_source=redseagame&utm_medium=game&utm_campaign=redseastories" target="_blank">the holiday</a> spirit.</p>
</div>

<div id="sorry" class="class_page" style="display:none">
	<h1 class="title-h1-win font-main">
		<span class="text-sorry">SORRY,</span> <br> try again
	</h1>
	<p class="text-pone">
		or why not play our <a href="index.php?gameId=3">NEW CULTURE GAME</a> for a chance to <a href="http://www.thomascook.com/destinations/egypt/sharm-el-sheikh/um-el-sid/sentido-reef-oasis-senses?utm_source=redseagame&utm_medium=game&utm_campaign=redseastories" target="_blank">WIN a 1-week holiday</a> to the Red Sea plus other fantastic prizes.
	</p>
</div>

<div id="well_done" class="class_page" style="display:none">
	<h1 class="title-h1-win font-main">
		WELL DONE!
	</h1>
	<p class="text-pone">
	Play to WIN prizes in our <a href="index.php?gameId=3">culture game</a>.
	</p>
</div>

<div id="congratulations" class="class_page" style="display:none">
	<h1 class="title-h1-win font-main">
		WELL DONE!
	</h1>
	<p class="text-pone">
	Play to WIN prizes in our <a href="index.php?gameId=3">culture game</a>.
	</p>
</div>


<div id="register" class="class_page" style="display:none">
	<h1 class="title-h1 font-main">
		Register your details below and play our game for your chance to <a href="http://www.thomascook.com/destinations/egypt/sharm-el-sheikh/um-el-sid/sentido-reef-oasis-senses?utm_source=redseagame&utm_medium=game&utm_campaign=redseastories" target="_blank">WIN an exclusive holiday to Egypt.</a>
	</h1>
	<div class="form-regisuser">
		<form role="form" class="form-horizontal" id="form-register-user">
			<div class="form-group">
				<label class="col-sm-3 col-xs-3 control-label font-main" for="inputEmail3">First name</label>
				<div class="col-sm-9 col-xs-9 reset-padding-left">
					<input type="text" class="form-control input-setformregis" id="first-name" name="first-name"></div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 col-xs-3 control-label font-main" for="inputPassword3">Last name</label>
				<div class="col-sm-9 col-xs-9 reset-padding-left">
					<input type="text" class="form-control input-setformregis" id="last-name" name="last-name"></div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 col-xs-3 text-left reset-padding-left reset-padding-right">
					<div class="checkbox">
						<label class="font-main">
							<input type="radio" value="1" class="checkbox_sex" id="checkbox_sex" name="checkbox_sex">Male</label>
					</div>
				</div>
				<div class="col-sm-6 col-xs-6 reset-padding-left reset-padding-right">
					<div class="checkbox">
						<label class="font-main">
							<input type="radio" value="0" class="checkbox_sex" id="checkbox_sex" name="checkbox_sex">Female</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 col-xs-4 control-label font-main reset-padding-right" for="inputPassword3" style="width: 99px;">Date of birth</label>
				<div class="col-sm-8 col-xs-8">
					<input type="text" placeholder="dd/mm/yyyy" class="form-control input-setformregis " name="birthday" id="birthday" readonly></div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 col-xs-3 control-label font-main" for="inputPassword3">Email</label>
				<div class="col-sm-9 col-xs-9 reset-padding-left">
					<input type="text" class="form-control input-setformregis" id="email-regis" name="email-regis"></div>
			</div>
			<div class="form-group">
				<div class="col-sm-12 relavtive">
					<button class="btn btn-default btn-submid-resgister" onclick="return register(this)">SUBMIT</button>
					<div class="font-main div-errow-regis"></div>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="top_ten" class="class_page" style="display:none">
	<h1 class="title-h1-win font-main">RALLY GAME</h1>
	<div class="text-ofsite">
		<p class="text-pone">
			Top ten
		</p>
		<table class="tbl-score">
			<tbody id="divTopGame"></tbody>
		</table>
	</div>
</div>
