
<div id="postcard_b" class="class_page">
	<h1 class="title-h1-win font-main">
		PLAY OUR RED SEA DIVING GAME.
	</h1>
	<div class="text-ofsite">
		<p class="text-pone">
		Dive down into the deep and collect the pearls, trying to avoid the sea creatures along the way.</p>
		<p class="text-pone">Use the arrows on your keyboard or screen to navigate through four levels.</p>
		<p class="text-pone">For a chance to 
		 <a href="http://www.thomascook.com/destinations/egypt/sharm-el-sheikh/um-el-sid/sentido-reef-oasis-senses?utm_source=redseagame&utm_medium=game&utm_campaign=redseastories" target="_blank">WIN a 1-week holiday</a> to the Red Sea and other fantastic prizes play our 
		 <a class="red" href="index.php?gameId=1">NEW RALLY GAME</a>.
		</p>
	</div>
</div>

<div id="how_to_play" class="class_page" style="display:none">
	<h1 class="title-h1 font-main">HOW TO PLAY</h1>
	<div class="text-ofsite">
		<p class="text-pone">The Red Sea is a rich source of natural saltwater pearls. To get yourself on the leader board, dive down and collect as many as you can, but beware of the crab, jellyfish and octopus that stand in your way.</p>
		<p class="text-ptwo">Use the arrows on your keyboard or screen to move up, down, left and right. Hold the arrow key down to go faster. There are three levels to complete – the higher you go, the harder it gets.<br>Good luck!</p>
	</div>
	</div>

<div id="plus_win" class="class_page" style="display:none">
	<h1 class="title-h1-win font-main">PLUS! WIN A £500 THOMAS COOK GIFT VOUCHER!</h1>
	<p class="text-pone">When the game closes, the player at the top of the leader board will WIN a £500 Thomas Cook gift voucher to get them into <a href="http://www.thomascook.com/destinations/egypt/sharm-el-sheikh/um-el-sid/sentido-reef-oasis-senses?utm_source=redseagame&utm_medium=game&utm_campaign=redseastories" target="_blank">the holiday</a> spirit.</p>
</div>

<div id="sorry" class="class_page" style="display:none">
	<h1 class="title-h1-win font-main">
		<span class="text-sorry">SORRY,</span><br/>
		try again
	</h1>
	<p class="text-pone">
		or why not play our <a class="red" href="index.php?gameId=1">NEW RALLY GAME</a> for a chance to <a href="http://www.thomascook.com/destinations/egypt/sharm-el-sheikh/um-el-sid/sentido-reef-oasis-senses?utm_source=redseagame&utm_medium=game&utm_campaign=redseastories" target="_blank">WIN a 1-week holiday</a> to the Red Sea plus other fantastic prizes.
	</p>
</div>

<div id="well_done" class="class_page" style="display:none">
	<h1 class="title-h1-win font-main">
		WELL DONE!
	</h1>
	<p class="text-pone">
	Why not play our <a class="red" href="index.php?gameId=1">NEW RALLY GAME</a> for a chance to <a href="http://www.thomascook.com/destinations/egypt/sharm-el-sheikh/um-el-sid/sentido-reef-oasis-senses?utm_source=redseagame&utm_medium=game&utm_campaign=redseastories" target="_blank">WIN a 1-week holiday</a> to the Red Sea plus other fantastic prizes.</p>
</div>

<div id="congratulations" class="class_page" style="display:none">
	<h1 class="title-h1-win font-main">
		WELL DONE!
	</h1>
	<p class="text-pone">
	Why not play our <a class="red" href="index.php?gameId=1">NEW RALLY GAME</a> for a chance to <a href="http://www.thomascook.com/destinations/egypt/sharm-el-sheikh/um-el-sid/sentido-reef-oasis-senses?utm_source=redseagame&utm_medium=game&utm_campaign=redseastories" target="_blank">WIN a 1-week holiday</a> to the Red Sea plus other fantastic prizes.</p>
</div>


<!-- <div id="congratulations" class="class_page" style="display:none">
	<h1 class="title-h1-win font-main">
		CONGRATULATIONS!<br>
		You’re on the leader board!
	</h1>
	<p class="text-pone">Share your score to get 100 extra points and boost your position. You’ll also get another chance to <a href="http://www.thomascook.com/destinations/egypt/sharm-el-sheikh/um-el-sid/sentido-reef-oasis-senses?utm_source=redseagame&utm_medium=game&utm_campaign=redseastories" target="_blank">WIN a 1-week holiday</a> to the Red Sea when you share your score!</p>
</div> -->



<div id="register" class="class_page" style="display:none">
	<h1 class="title-h1 font-main">
		Register your details below and play our game for your chance to <a href="http://www.thomascook.com/destinations/egypt/sharm-el-sheikh/um-el-sid/sentido-reef-oasis-senses?utm_source=redseagame&utm_medium=game&utm_campaign=redseastories" target="_blank">WIN a 1-week holiday</a> to the Red Sea.
	</h1>
	<div class="form-regisuser">
		<form role="form" class="form-horizontal" id="form-register-user">
			<div class="form-group">
				<label class="col-sm-3 col-xs-3 control-label font-main" for="inputEmail3">First name</label>
				<div class="col-sm-9 col-xs-9 reset-padding-left">
					<input type="text" class="form-control input-setformregis" id="first-name" name="first-name"></div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 col-xs-3 control-label font-main" for="inputPassword3">Last name</label>
				<div class="col-sm-9 col-xs-9 reset-padding-left">
					<input type="text" class="form-control input-setformregis" id="last-name" name="last-name"></div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 col-xs-3 text-left reset-padding-left reset-padding-right">
					<div class="checkbox">
						<label class="font-main">
							<input type="radio" value="1" class="checkbox_sex" id="checkbox_sex" name="checkbox_sex">Male</label>
					</div>
				</div>
				<div class="col-sm-6 col-xs-6 reset-padding-left reset-padding-right">
					<div class="checkbox">
						<label class="font-main">
							<input type="radio" value="0" class="checkbox_sex" id="checkbox_sex" name="checkbox_sex">Female</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 col-xs-4 control-label font-main reset-padding-right" for="inputPassword3" style="width: 99px;">Date of birth</label>
				<div class="col-sm-8 col-xs-8">
					<input type="text" placeholder="dd/mm/yyyy" class="form-control input-setformregis " name="birthday" id="birthday" readonly></div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 col-xs-3 control-label font-main" for="inputPassword3">Email</label>
				<div class="col-sm-9 col-xs-9 reset-padding-left">
					<input type="text" class="form-control input-setformregis" id="email-regis" name="email-regis"></div>
			</div>
			<div class="form-group">
				<div class="col-sm-12 relavtive">
					<button class="btn btn-default btn-submid-resgister" onclick="return register(this)">SUBMIT</button>
					<div class="font-main div-errow-regis"></div>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="top_ten" class="class_page" style="display:none">
	<h1 class="title-h1-win font-main">DIVING GAME</h1>
	<div class="text-ofsite">
		<p class="text-pone">
			The leaderboard for this game has now closed. For a chance to 
			<a href="http://www.thomascook.com/destinations/egypt/sharm-el-sheikh/um-el-sid/sentido-reef-oasis-senses?utm_source=redseagame&utm_medium=game&utm_campaign=redseastories" target="_blank">WIN a 1-week holiday</a> to Egypt, play our <a class="red" href="index.php?gameId=1">NEW RALLY GAME</a>.
		</p>
		<table class="tbl-score">
			<tbody id="divTopGame"></tbody>
		</table>
	</div>
</div>
