@font-face {
    font-family: 'thomas_headlinelight';
    src: url('thomas_headline-light-webfont.eot');
    src: url('thomas_headline-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('thomas_headline-light-webfont.woff2') format('woff2'),
         url('thomas_headline-light-webfont.woff') format('woff'),
         url('thomas_headline-light-webfont.ttf') format('truetype'),
         url('thomas_headline-light-webfont.svg#thomas_headlinelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Thomas Headline';
    src: url('thomas_headline-bold-webfont.eot');
    src: url('thomas_headline-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('thomas_headline-bold-webfont.woff2') format('woff2'),
         url('thomas_headline-bold-webfont.woff') format('woff'),
         url('thomas_headline-bold-webfont.ttf') format('truetype'),
         url('thomas_headline-bold-webfont.svg#thomas_headlinebold') format('svg');
    font-weight: bold;
    font-style: bold;

}

.thomas{
	font-family:'thomas_headlinelight';
	font-size:36px;
	color:#F00;
}